# System files and dirs
.idea/
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific files and dirs
logs/*
result/*

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Scrapy stuff:
.scrapy

